<div class="main-box">
    <div class="container-fluid">
        <h2>Edit Tasks</h2>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input #inputTitle class="input has-background-light " type="text" placeholder="Enter Task Name">
            </p>
            <p class="control">
                <a class="button is-primary" (click)="editTasks(inputTitle.value)" >Save</a>
            </p>
        </div>
        <button class="button go-btn" routerLink="/">Go Back</button>
    </div>
</div>